@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('sanpham.css');
*,
*::before,
*::after
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #1f80ff;
    --body-font-color: #515151;
    --main-background: #6eb48c;
}
html{
    font-size: 11px;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}
body{
    overflow-x: hidden;
    height: 100%;
}
.body{
    min-height: 100%;
    overflow: hidden;
}
header{
    width: 100%;
    position: fixed;
    background-color: var(--main-background);
    transition: transform 650ms;
    z-index: 1;
}
.menu-toggle{
    position: relative;
    left: 1rem;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    z-index: 2000;
}
.menu-toggle .fa-times{
    display: none;
}
header.nav-open .fa-times{
    display: block;
}
header.nav-open .fa-bars{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0,.85);
    z-index: 1000;
    display: none;
    cursor: pointer;
}
header.nav-open .overlay{
    display: block;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 24rem;
    height: 100vh;
    transform: translateX(-24rem);
    background-color: var(--main-background);
    padding: 1rem;
    z-index: 1500;
    overflow: auto;
}
header.nav-open{
    transform: translateX(24rem);
}
.nav-list{
    list-style: none;
}
.nav-item{
    position: relative;
    margin: 1rem 0;
    padding: .5rem 0;
}
.nav-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #fff;
}
.dropdown .nav-item::before{
    display: none;
}
.nav-link{
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 400ms;
}
.nav-link:hover{
    color: #5c6cff;
}
.dropdown-content{
    min-width: 25rem;
    margin-left: 2rem;
    display: none;
}
.show-dropdown{
    display: block;
}
.main-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content{
    float: right;
}
.header-content > div{
    float: right;
    margin-right: 2rem;
}
.header-content > div > a{
    color: #fff;
    line-height: 5rem;
    font-size: 1.3rem;
    position: relative;
}
.header-content > div > a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: none;
    transition: background-color 1.2s;
}
.header-content > div > a:hover::before{
    display: block;
}
.logo-center{
    text-align: center;
}
.logo-center img{
    max-width: 130px;
    text-align: center;
    vertical-align: middle;
}
.close{
    font-size: 2.5rem;
    color: rgb(7, 7, 7);
    cursor: pointer;
    top: 2rem;
    left: 2rem;
    position: absolute;
    display: none;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.body{
    width: 100%;
    padding: 0 1rem;
}
section{
    padding: 1rem 2rem !important;
    margin-bottom: 1rem !important;
}
/* Background index */
/* Product display */
.danhmuc{
    width: 100%;
    padding: 1rem 2rem;
    padding-left: 3rem;
    font-size: 3rem;
    margin: 0 auto;
    padding-bottom: 0;
    text-transform: uppercase;
    position: relative;
}
.danhmuc::after{
    content: "";
    background-image: url(../images/danhmuc.svg);
    background-repeat: no-repeat;
    height: 2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;

}
.product{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0 auto;
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: end;
}
.khuyenmai_ct{
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding-top: 0.6rem;
}
.product .product_item{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.product .product_item a{
    color: #000;
}
.product .product_item a:hover{
    color: rgb(37, 139, 255);
}
.product_image{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.product_image > .add-tocart{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-background);
    font-weight: bold;
    text-align: center;
    word-break: break-all;
    padding: 10px 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.43s ease;
    z-index: 2;
}
.product .product_item a:hover > .product_image > .add-tocart{
    color: #333;
    visibility: visible;
    pointer-events: fill;
    opacity: 1;
    top: 50%;
}
.product_image > .add-tocart:hover{
    background-color: #4b946a;
    color: #fff;
}
.product .product_item a:hover > .product_image > .add-tocart:hover{
    color: #fff;
}
.product_image img{
    width: 100%;
    transition: transform 1.2s;
}
.product_item:hover img{
    transform: rotate(10deg);
}
.product_infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
    padding: 3px 10px;
}
.product_price{
    color: #000;
}
.product_price::before{
    content: 'Giá: ';
}
span.sold_out{
    background-color: rgb(87, 87, 87);
    color: #fff;
    position: absolute;
    top: 1rem;
    left: .9rem;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 1rem;
    transform: rotate(-15deg);
}
span.news{
    background: linear-gradient(to right,rgb(141, 18, 255),rgb(211, 21, 148));
    color: #fff;
    padding: 2px 4px;
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    top: 2rem;
    border-radius: 3px;
    transform: rotate(10deg);
}
span.discount{
    background: linear-gradient(to right,rgb(16, 167, 255),rgb(205, 41, 255));
    color: #fff;
    padding: 1px 10px;
    font-size: 1.2rem;
    border-radius: 4px;
}
.giamgia{
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #000;
}
.giamgia span.line{
    text-decoration: line-through;
    opacity: .7;
}
/* Hiển thị album */
.album{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    grid-gap: 1.5rem;
    justify-content: center;
}
.album .album_item{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.album .album_item a{
    color: #000000;
    font-size: 1.5rem;
}
.album_item a:hover{
    color: crimson;
}
.album_image{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.album_image > .add-tocart{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-background);
    font-weight: bold;
    text-align: center;
    word-break: break-all;
    padding: 10px 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.43s ease;
    z-index: 2;
}
.album_item a:hover > .album_image > .add-tocart{
    color: #333;
    visibility: visible;
    pointer-events: fill;
    opacity: 1;
    top: 50%;
}
.album_image > .add-tocart:hover{
    background-color: #4b946a;
    color: #fff;
}
.album_item a:hover > .album_image > .add-tocart:hover{
    color: #fff;
}
.album_item .album_image img{
    width: 100%;
    transition: transform .8s;
}
.album_item a:hover img{
    transform: scale(1.5);
}
.album_infor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
span.newss{
    background-color: rgb(22, 123, 255);
    color: #fff;
    padding: 2px 4px;
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;
    top: -1rem;
    border-radius: 3px;
    transform: rotate(10deg);
}
span.hot{
    background-color: rgb(255, 29, 29);
    color: #fff;
    padding: 2px 4px;
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;
    top: -1rem;
    border-radius: 3px;
    transform: rotate(10deg);
}
/* Bảng xếp hạng */
.bangxephang{
    width: 100%;
    background: #aaaaaa;
    padding: 0 2rem;
    margin: 0 auto;
}
.bxh{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    grid-gap: 1.5rem;
    padding-bottom: 2rem;
}
.bxh_item{
    width: 50%;
    margin: 0 auto;
    display: flex;
}
.bxh_item .bxh_image{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.bxh_item .bxh_image img.top{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #fff;
    border-width: 6px;
    object-fit: cover;
    position: relative;
}
.bxh_diem{
    font-size: 2rem;
    margin-left: 1rem;
    color: #fff;
}
.bxh_diem1{
    font-size: 1.4rem;
    margin-left: 1rem;
    color: #fff;
}
.bxh_image img{
    width: 100%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #ffff;
    object-fit: cover;
    cursor: pointer;
}
.bxh_infor{
    display: flex;
    flex-direction: column;
}
.bxh_infor .bxh_infor_top{
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 4px 4px 2px rgb(255, 25, 132);
}
.bxh_infor .bxh_infor_name{
    font-size: 2.6rem;
    margin-left: 1rem;
}
.bxh_infor .bxh_infor_top_1{
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 4px 4px 2px rgb(26, 179, 250);
}
.bxh_infor .bxh_infor_name_1{
    font-size: 1.7rem;
    margin-left: 1rem;
}
.bxh_image{
    width: 100%;
}
.bxh_top{
    font-size: 3rem;
}
/* Side bar trên desktop */

/* Footer */

footer{
    padding: 2rem;
    background-color: var(--main-background);
    color: #000000;
    text-align: center;
    position: relative;
    margin-top: -100px;
    clear: both;
    overflow: hidden;
}
.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3px;
}
.footer-content-about{
    margin-bottom: 5.4rem;
    font-size: 1.6rem;
}
.footer-content-about p{
    line-height: 2;
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2rem;
    color: #000;
    padding: .8rem 2rem;
    opacity: .9;
    transition: color .5s;
}
.social-icons i:hover,
.social-icons i:focus{
    color: var(--secondary-font-color);
}
.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.newsletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid #d1d1d1;
}
.newsletter-btn{
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    position: absolute;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8rem;
}
/* Animation css */
@keyframes fadeUp{
    0%{
        transform: translateY(4rem);

    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}
@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}
/*Media Screen */
@media screen and (min-width: 900px)
{
    section{
        padding: 7.9rem;
    }
    .sub-headline{
        font-size: 10rem;
    }
    .first-letter{
        font-size: 12.2rem;
    }
    .headline{
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }
    .line{
        max-width: 11.4rem;
    }
    .restaurent-info{
        display: flex;
        align-items: center;
    }
    .restaurent-info > div{
        flex: 1;
    }
    .padding-right{
        padding-right: 7rem;
    }
    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }
    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }
    .footer-content-divider{
        display: flex;
        justify-content: space-between;
    }
    .social-media,.newsletter-form{
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }
    .social-icons i{
        opacity: 1;
    }
    .newsletter-btn{
        margin-left: 7rem;
    }
}
@media screen and (max-width: 768px)
{
    .product{
        grid-template-columns: repeat(2,1fr) !important;
    }
    .album{
        grid-template-columns: repeat(2,1fr);
    }
    .bxh{
        grid-template-columns: repeat(2,1fr);
    }
    .bxh_item{
        flex-direction: column;
    }
}
.error{
    color: red;
    padding: 2px 3px;
}
.success{
    color: green;
    padding: 2px 3px;
}
.result_no{
    width: 100%;
    padding: 5px 10px;
}
.form-buy{
    display: flex;
    flex-direction: column;
}
.clear{
    clear: both;
}
/*================ PAGINATION =============== */
.pagination{
    margin: 10px 0px 5px 0px;
    padding-left: 0px;
    border-radius: 4px;
}
ul.pagination{
    display: inline-block;
    list-style: none;
    font-size: 14px;
}
ul.pagination > li{
    display: inline;
}
ul.pagination > li > a{
    padding: 3px 10px;
}
ul.pagination > li > a{
    position: relative;
    float: left;
    padding: 6px 12px;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dddddd;
    margin-left: -1px;
    line-height: 1.42857143;
}
.pagination li:last-child>a{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination li:first-child>a{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > .active > a, .pagination > .active > a:hover{
    color: #fff;
    cursor: default;
    background-color: var(--main-background);
    border-color: #4b946a;
}
.pagination > li > a:hover{
    background-color: #e9e9e9;
}
/* Collection idol */
table.collection{
    width: 100%;
    margin: 0 auto;
}
table.collection th{
    padding: 4px 5px;
    border: 1px solid #ffffff;
    background-color: var(--main-background);
}
table.collection td{
    padding: 4px 5px;
    border: 1px solid #d1d1d1;
    text-align: center;
}
table.collection td.photo{
    max-width: 100px;
}
table.collection td.img_product{
    width: 100%;
}
table.collection td.img_product img{
    width: 70px;
}
table.collection td.panel{
    max-width: 100px;
}
table.collection td.panel img{
    max-width: 20px;
}
a.button{
    background-color: var(--main-background);
    display: block;
    float: right;
    padding: 5px 10px;
    font-weight: 500;
    margin: 5px 10px;
    border-radius: 4px;
}
a:hover.button{
    background-color: #1e1f36;
    display: block;
    float: right;
    padding: 5px 10px;
    font-weight: 500;
    margin: 5px 10px;
    color: #fff;
}
.list1{
    padding: 5px 10px;
    width: 100%;
}
/* Giao dien trang ca nhan cua nguoi dung */
.profile{
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.profile .anhdaidien{
    width: 100%;
    text-align: center;
}
.anhdaidien img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}
table.profile-infor{
    width: 100%;
}
table.profile-infor td.left{
    padding: 3px 5px 2px 4px;
    font-weight: bold;
    border: 1px solid #d1d1d1;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #f0f0f0;
}
table.profile-infor td.right{
    padding: 3px 5px 2px 10px;
    width: 80%;
    border: 1px solid #d1d1d1;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
a.btn-pink{
    display: block;
    float: right;
    background-color: var(--main-background);
    padding: 5px 10px;
    margin-right: 4px;
    font-weight: 500;
}
a:hover.btn-pink{
    color: #fff;
    background-color: #242131;
}
table.profile-infor td.right input{
    width: 100%;
    padding: 4px 3px;
    border: 1px solid var(--main-background);
    border-radius: 4px;
}
table.profile-infor td.right textarea{
    width: 100%;
    padding: 4px 3px;
    border: 1px solid var(--main-background);
    border-radius: 4px;
}
table.profile-infor td.right select{
    padding: 4px 3px;
    border: 1px solid var(--main-background);
    border-radius: 4px;
}
table.profile-infor td.right select.chucvu{
    width: 100%;
    padding: 4px 3px;
    border: 1px solid var(--main-background);
    border-radius: 4px;
}
.list-box{
    width: 100%;
    font-weight: bold;
    float: left;
}
.list-input{
    width: 100%;
    float: left;
    padding: 5px 10px;
}
.list-input input{
    width: 100%;
    border: 1px solid var(--main-background);
    border-radius: 4px;
    padding: 5px 10px;
}
.list-input textarea{
    width: 100%;
    border: 1px solid var(--main-background);
    border-radius: 4px;
    padding: 5px 10px;
}
.review_rate{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}
.review_rate .binhchon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span.rate{
    color: #fff;
    border-radius: 5px;
    background-color: #ff5159;
    padding: 15px 15px;
    text-align: center;
}
span.rate span{
    font-size: 30px;
    display: block;
}
.binhchon_start{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.binhchon_rate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.binhchon_rate span.process{
    background-color: #ff6464;
    border-radius: 4px;
    height: 9px;
    margin: 4px;
}
a.pink{
    display: block;
    background-color: var(--main-background);
    padding: 15px 10px;
    color: #fff;
    border-radius: 4px;
}
.review_comment{
    width: 100%;
    border-top: 1px solid #d1d1d1;
    padding: 10px 5px;
    display: none;
}
.review_selected{
    width: 100%;
}
.review_selected select{
    width: 100%;
    border: 1px solid var(--main-background);
    padding: 4px 5px;
    border-radius: 4px;
    margin: 5px 0px;
}
.review_title{
    padding: 10px 5px;
    width: 100%;
}
.review_title input{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}
.review_title textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}
.active{
    display: block;
}
.review_chat{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #d1d1d1;
}
.box_list_avatar{
    vertical-align: top;
}
.box_list_comment{
    padding: 4px 10px;
}
.avatar{
    width: 50px;
    border: 1px solid #d1d1d1;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}
span.chat_time{
    text-align: right;
    color: rgb(175, 175, 175);
    font-size: 11px;
    font-style: italic;
    display: block;
    padding: 4px 0;
}
a.user_chat{
    color: rgb(20, 169, 255);
}
a.user_chat:hover{
    text-decoration: underline;
}
.pink{
    color: #ff6464;
    font-size: 10px;
}
.sao{
    color: #ff6464;
    font-size: 18px;
    margin-right: 1px;
}
.sanpham_binhchon{
    padding: 5px 18px;
}
.product_rate{
    padding: 10px 0;
}
.product_rate span{
    font-size: 13px;
    color: #000;
}
@media screen and (max-width: 550px)
{
    .sao{
        color: #ff6464;
        font-size: 12px;
        margin-right: 1px;
    }
}
a.pink-left{
    display: block;
    background-color: var(--main-background);
    padding: 10px 5px;
    color: #fff;
    border-radius: 4px;
    float: left;
}
a:hover.pink-left{
    background-color: rgb(44, 44, 44);
    color: #fff;
}
.donhang{
    width: 100%;
    border: 1px solid #d1d1d1;
    padding: 10px 0px;
    padding-bottom: 0;
}
.donhang h3{
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
}
.admin_layout{
    display: flex;
    width: 100%;
}
.admin_menu{
    width: 100%;
    background-color: var(--main-background);
    padding: 14px 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000000;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.admin_left{
    width: 30%;
    padding: 5px 10px;
}
.admin_right{
    width: 70%;
    padding: 5px 10px;
}
.admin_list{
    width: 100%;
}
.admin_list_item{
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    padding: 5px 3px 7px 5px;
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    font-size: 17px;
    font-weight: 500;
}
.admin_list_item::before{
    content: '»';
    margin-left: 2px;
    color: var(--main-background);
}
.admin_list_item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Giao diện khi online trên mobile */
@media screen and (max-width: 768px)
{
    .admin_layout{
        flex-direction: column;
    }
    .admin_left{
        width: 100%;
    }
    .admin_right{
        width: 100%;
    }
}
.banghoadon{
    width: 100%;
}
.banghoadon td{
    padding: 5px 4px;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
td.hoadon-column{
    width: 30%;
    background-color: rgb(243, 243, 243);
    font-weight: bold;
}
td.hoadon-chitiet{
    width: 70%;
    background-color: #ffffff;
}
.feedback{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #d1d1d1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.feedback span.tacgia{
    display: block;
    padding-right: 10px;
    font-size: 14px;
    color: rgb(126, 126, 126);
    font-style: italic;
    padding-bottom: 10px;
}
.phanhoi{
    display: none;
}
.active{
    display: block;
}
.quantri{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantri img{
    width: 20px;
    border: 0;
}
.down{
    text-align: right;
    float: right;
    display: block;
}
.btn-left{
    padding: 5px 10px;
    background-color: var(--main-background);
    border-radius: 5px;
}
.btn-left:hover{
    background-color: #414141;
    color: #fff;
}
@media screen and (max-width: 600px)
{
    .review_rate{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
    .review_rate .binhchon{
        width: 100%;
    }
    .binhchon_rate span.process {
        height: 5px;
        margin: 6px;
    }
}
 /* chuc vu  */
 .chucvu-member{
     font-size: 14px;
     text-align: right;
     color: rgb(20, 169, 255);
 }
 .chucvu-admin{
    font-size: 14px;
    text-align: right;
    color: #FF5159;
 }
 .input_input_option{
     margin: 0 2rem;
     width: 50%;
 }
 .input_input_option select{
     width: 100%;
     padding: 4px 5px;
     border: 1px solid var(--main-background);
     border-radius: 4px;
 }
 @media screen and (max-width: 600px)
 {
     .logo-center img{
         max-width: 70px;
     }
 }
 /* Search tìm kiếm sản phẩm */
 .timkiem{
     padding: 1rem 2rem;
     width: 100%;
 }
 .timkiem input{
     width: 67%;
     padding: 5px 7px;
     border: 1px solid #a3a3a3;
     border-radius: 4px;
     float: left;
}
.timkiem button{
    width: 27%;
    padding: 4px 3px;
    border: 1px solid var(--main-background);
    background-color: var(--main-background);
    font-size: 16px;
    font-weight: 800;
    outline: none;
    float: left;
    margin: 0 1rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.cmt_del{
    float: right;
    color: red;
}
.cmt_del a{
    color: red;
}
.search{
    background-color: #FFE1E9;
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.2s;
}
.search_active{
    visibility: visible;
    opacity: 1;
}
.search h2{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
}
.search-bg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-close{
    position: absolute;
    top: -20rem;
    left: 2rem;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    text-shadow: 1px 2px 1px #ff6464;
}
.search-input input{
    width: 300px;
    height: 60px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    position: relative;
    font-size: 1.5rem;
}
button.search1{
    width: 160px;
    height: 60px;
    background-color: var(--main-background);
    color: #fff;
    font-size: 1.5rem;
    border: none;
    margin-left: -3px;
    cursor: pointer;
}
@media screen and (max-width: 768px)
{
    .fa-search{
        display: none;
    }
}
.container-card{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-infor{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    padding-top: 1rem;
}
.card{
    background: #535c68;
    color: #fff;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(32% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-icon{
    font-size: 28px;
    width: 60px;
    background: var(--main-background);
    height: 60px;
    line-height: 60px !important;
    border-radius: 50%;
    text-align: center;
    transition: 0.4s linear;
}
.card:hover .card-icon{
    background: none;
    color: var(--main-background);
    transform: scale(1.6);
}
.card p{
margin-top: 28px;
font-weight: 300;
letter-spacing: 2px;
max-height: 0;
opacity: 0;
transition: 0.4s linear;
}
.card:hover p{
    max-height: 40px;
    opacity: 1;
}
@media screen and (max-width: 800px)
{
    .contact-infor{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
    .card p{
        opacity: 1;
    }
}
.about{
    width: 100%;
    text-align: center;
}
.about h2{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 2rem;
}
.about-content{
    text-align: center;
    width: 90%;
    padding-bottom: 2rem;
}
.about-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.about-layout > div{
    flex: 1;
}
.img-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}
.img-group img{
    width: 100%;
    box-shadow: 6px 10px 5px #949494;
    object-fit: cover;
    cursor: pointer;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.about_mota{
    padding: 0 1rem;
    text-align: center;
}
.about_mota span{
    display: block;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: crimson;
}
.forum{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
a.forum_alert{
    font-size: 22px;
    font-weight: 900;
    background-color: var(--main-background);
    color: #fff;
    display: block;
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ffd7d3;
}
a.forum_alert:hover{
    background-color: #353535;;
    box-shadow: 5px 5px 10px #82c2ff;
}
.tim{
    color: #ff429a;
    font-weight: 600;
    text-shadow: 1px 3px 3px #fff;
    margin: 0 5px;
}
.loader-body{
    background-color: rgb(19, 21, 37);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.43s ease;
}
.loader-active{
    visibility: visible;
    opacity: 1;
}
.loader{
    width: 10rem;
    height: 10rem;
    /* background-color: red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.loader-inner{
    width: 100%;
    height: 100%;
    border: 1rem solid #162534;
    border-radius: 50%;
    border-bottom-color: #09f;
    border-top-color: #09f;
    cursor: pointer;
    animation: rotates 5s linear infinite;
}
@keyframes rotates{
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.5) rotate(-360deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
.center{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}
a.btn-json{
    padding: 7px 9px;
    background-color: var(--main-background);
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.43s ease;
    margin-right: 10px;
}
a:hover.btn-json{
    color: #fff;
    background-color: #20643c;
}
/* json search css */
.form-json{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}
.input_json{
    width: 100%;
    padding: 0 20px;
}
.input_json input[type="text"]{
    width: 300px;
    padding: 10px 9px;
    border: none;
    border-radius: 7px;
    border: 1px solid #ddd;
    outline-color: #4b946a;
}
.input_json input[type="submit"]{
    height: 40px;
    padding: 0 6px;
    border: none;
    border-radius: 6px;
    background-color: #4b946a;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.54s ease;
}
.input_json input[type="submit"]:hover{
    background-color: #124d2a;
}